/* CSS */
.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0b74c0;
  }
  body{
    
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  